<!doctype html>
<html>
<head>
    <title>Questions</title>
</head>
<body>
    <form action="/submit" method="POST">
        <label for="question1">Are you alive? (yes or no):</label>
        <input type="text" id="question1" name="question1" required><br><br>
        
        <label for="question2">Are you a girl? (yes or no):</label>
        <input type="text" id="question2" name="question2" required><br><br>
        
        <label for="question3">Are you taken? (yes or no):</label>
        <input type="text" id="question3" name="question3" required><br><br>
        
        <label for="birthday">When is your birthday? (YYYY-MM-DD):</label>
        <input type="text" id="birthday" name="birthday" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
